.navigation {
    position: absolute;
    top: 20px;
    left: 20px;
}

.arrow {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: center;
}

.arrow p {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-link {
    color: #555;
    font-size: 1rem;
}

.btn-outline-secondary {
    font-size: 1.5rem;
}
