.page-content{
    width: 100vw;
    height: 150vh;
}
/*
.colori{
    nero: #15120d
    rosso: #9e2f23
    giallo: #f9a822
    crema: #fbedc3
    attuale: #fef9ec
    verdino: #93d3ae
    verde: #36ada1
}*/
/*SEZIONE MAIN*/
.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fef9ec;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.color-triangle{
    position: absolute;
    width: 200%;
    height: 120%;
    background-color: #e12713;
    margin-left: 76%;
    transform: rotate(-45deg);
    opacity: 70%;
    z-index: 0;
}
.home-main-p1{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.home-main-p2{
    position: absolute;
    width: 75%;
    margin-top: 5%;
    z-index: 3;
}
.home-main-bg{
    position: absolute;
    width: 60%;
    margin-top: 5%;
    z-index: 1;
}
.home-main-front{
    position: absolute;
    width: 60%;
    margin-top: 5%;
    z-index: 3;
}
.main-home-text{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.text-soul, .text-volks ,.vw-club ,.est-2023, .original-ride{
    position: absolute;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}
.text-soul{
    width: 26%;
    height: 43%;
    margin-left: 2%;
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    transform: translateX(-100%);
}
.text-soul h1{
    font-size: 22rem;
    font-weight: normal;
    font-style: normal;
    line-height: 0.9;
    color: #15120d;
    margin-top: 0;
    margin-right: 0;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.text-volks{
    width: 27%;
    height: 37%;
    margin-left: 73%;
    margin-top: 25.5%;
    display: flex;
    justify-content: flex-start;
    transform: translateX(100%);
}
.text-volks h1{
    font-size: 20rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #15120d;
    margin-top: 0;
    margin-left: 0;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.animazione-testo{
    opacity: 1;
    transform: translateX(0);
}
.vw-club{
    width: 40%;
    height: 30%;
    margin-left: 75%;
    margin-top: 21%;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    transform: translateX(-20%);
}
.vw-club h3{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 11rem;
    line-height: 1;
    color: #fef9ec;
}
.animazione-vwclub{
    opacity: 10%;
    transform: translateX(0);
}
.original-ride{
    width: 15%;
    height: 7%;
    margin-left: 63.5%;
    margin-top: 10.5%;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    transform: rotate(90deg) translateY(20%);
}
.original-ride h2{
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #15120d;
}
.animazione-OR{
    opacity: 1;
    transform: rotate(90deg) translateY(0);
}
.evento-mvc{
    position: absolute;
    width: 18%;
    height: 15%;
    margin-left: 77%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 0;
    transform: translateY(20%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}
.evento-mvc p{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #fef9ec;
}
.animazione-eventoMVC{
    opacity: 1;
    transform: translateY(0);
}
.arrow-mvc{
    position: absolute;
    width: 7%;
    margin-left: 84%;
    margin-top: 5.5%;
    z-index: 0;
    opacity: 0;
    transform: rotate(-80deg);
    transition: transform 1s ease, opacity 1s ease;
    animation: flashAnimation 5s ease-in-out infinite;
    animation-delay: 3000ms;
}
@keyframes flashAnimation {
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 80%;
    }
}
.palette-container{
    position: absolute;
    width: 15%;
    height: 4%;
    margin-left: 85%;
    margin-top: 46%;
    display: flex;
    flex-direction: row;
}
.palette{
    width: 16%;
    height: 100%;
}
.pal1{
    background: #15120d;
}
.pal2{
    background: #9e2f23;
}
.pal3{
    background: #f9a822;
}
.pal4{
    background: #fbedc3;
}
.pal5{
    background: #93d3ae;
}
.pal6{
    background: #36ada1;
}
.est-2023{
    width: 15%;
    height: 7%;
    margin-left: 22%;
    margin-top: 35.5%;
    display: flex;
    justify-content: flex-start;
    transform: rotate(270deg) translateY(20%);
}
.est-2023 h3{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    line-height: 1;
    color: #15120d;
}
.animazione-est2023{
    opacity: 1;
    transform: rotate(270deg) translateY(0);
}
.home-logo-vw{
    position: absolute;
    width: 75%;
    top: -5%;
    left: -20%;
    z-index: 0;
    opacity: 7%;
}


.scroll-down-indicator {
    position: absolute;
    margin-top: 46%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 80;
}

.arrow {
    width: 1.7em;
    height: 1.7em;
    background-color: transparent;
    border-width: 0 0.22em 0.22em 0;
    border-style: solid;
    border-color: #15120d;
    transform: rotate(45deg);
    animation: scrolldown 1.2s ease-in-out infinite;
    margin-bottom: 0; /* spazio tra le frecce */
    opacity: 0;
}

.arrow:nth-child(1) {
    animation-delay: 0.15s;
}

@keyframes scrolldown {
    0% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50% {
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}



/* SEZIONE CLUB*/
.club{
    position: relative;
    width: 100vw;
    height: 200vh;
    overflow: hidden;
    background-color: #fefbf6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 -30px 20px -5px rgba(0, 0, 0, 0.3);
}
.club .container {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.club .container-club{
    height: auto;
}
.club .div-sx, .club .div-dx{
    width: 50%;
    height: 50%;
    flex: 1;
}
.club .div-sx{
    width: 50%;
    justify-content: center;
}
.ilclub-img{
    position: absolute;
    width: 23%;
    margin-left: 8%;
    margin-top: 5%;
    z-index: 1;
}
.ilclub-title{
    position: absolute;
    z-index: 3;
    margin-left: 3%;
    font-size: 18rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    line-height: 0.9;
    color: #9e2f23;
    margin-top: 0;
    margin-right: 0;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.club .div-dx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.club p{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.1rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.3;
    color: #15120d;
    padding-left: 7%;
    padding-right: 5%;
}
.club .container-offerte{
    height: auto;
}
.club .lead {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.card {
    border: none;
    background-color: #f8f9fa;
    transition: transform 0.3s;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-body img {
    width: 100%;
    height: auto;
}

.card-body ul {
    padding-left: 0;
    list-style: none;
}

.card-body ul li {
    font-size: 0.9rem;
}

.card:hover {
    transform: translateY(-10px);
}



/* GALLERY */
.gallery {
    background-color: #fefbf6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    background-color: #dcdcdc;
    margin: 10px;
}

.gallery-item.small {
    height: 100px;
}

.gallery-item.large {
    height: 210px;
}

.gallery-item.tall {
    height: 210px;
}

.gallery-item.wide {
    height: 100px;
}

