/* MODIFICHE NAVBAR */
@media screen and (max-width: 991px) {
    .navbar {
        background: #efeed7 !important;
    }
}

.navbar .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff !important;
}

.navbar.scrolled .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff !important;
}

.navbar.scrolled {
    background: #d4d3b5 !important;
}




/* MAIN */
.main {
    position: relative;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    background-color: rgb(81, 159, 219);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-text {
    width: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.mvc-text {
    width: 25%;
}

.dataluogo {
    position: absolute;
    text-align: center;
    z-index: 3;
    width: 60%;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dataluogo h2 {
    font-family: 'Times-Sans';
    font-size: 2rem;
    font-weight: 600;
    transform: scaleY(1.1);
    transform: scaleX(0.9);
}

.miletto {
    width: 100%;
    margin-top: -1%;
    z-index: 2;
}

.nuvola01 {
    position: absolute;
    width: 25%;
    z-index: 3;
    top: 25%;
    right: 3%;
}

.nuvola02 {
    position: absolute;
    width: 25%;
    z-index: 3;
    top: 5%;
    right: 15%;
}

.nuvola03 {
    position: absolute;
    width: 25%;
    z-index: 3;
    top: 15%;
    left: 10%;
}

.nuvola04 {
    position: absolute;
    width: 30%;
    z-index: 3;
    left: -8%;
    top: 15%;
}





/* EVENTO */
.evento {
    position: relative;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efeed7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.countdown-container {
    text-align: center;
    background: transparent;
    width: 65%;
    padding: 20px 40px;
    display: flex;
    margin-top: 0;
}

#countdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time-box {
    text-align: center;
    flex-grow: 1;
}

.time-box span {
    display: block;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -0.05em;
}

.time-box .label {
    font-size: 1em;
    margin-top: -10px;
    letter-spacing: 0.1em;
}

.evento .main-title {
    background: transparent;
    width: 83%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2%;

}

.main-title h2 {
    font-family: 'Times-Sans';
    font-size: 2.2rem;
    transform: scaleX(1.1);
}

.evento .offerte-mvc-container {
    background: transparent;
    width: 90%;
    padding: 20px 40px;
    display: flex;
    margin-top: 0;
}

.offerte-mvc {
    margin: 0;
    padding: 0;
}

.topics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.topic {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    text-align: left;
}

.topic-intest {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon {
    font-size: 3.3rem;
    color: #000000;
    margin-bottom: 10px;
}

.intest-title h3 {
    color: #000000;
    font-size: 1.5rem;
    margin: 10px 0;
}

.topic-corpo {
    margin-top: -10px;
    padding: 10px;
}

.topic p {
    color: #1f1b1b;
    font-size: 1rem;
    line-height: 1.2rem;
}

.tantoaltro {
    margin-top: -1.5%;
}

.tantoaltro h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

.divisore-programma {
    width: 102%;
    margin-top: 0;
    z-index: 0;
}
.t1-disegno{
    width: 12%;
    margin-top: -9.5%;
    margin-left: 75%;
    z-index: 1;
}

@media (max-width: 768px) {
    .topics {
        flex-direction: column;
        align-items: center;
    }

    .topic {
        width: 80%;
        text-align: center;
    }
}



















/* PROGRAMMA */
.programma {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background-color: rgb(2, 60, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programma-title {
    text-align: center;
    width: 100%;
}

.programma-title h2 {
    color: #efeed7;
    font-family: 'Times-Sans';
    font-size: 4rem;
    font-weight: 600;
    transform: scaleX(1);
    margin-top: 0;
    margin-bottom: 2%;
    padding: 10px;
}

.container-cards {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    padding: 0;
    border-radius: 20px;
    background: rgba(239, 238, 215, 1);
    color: #090909;
    box-shadow: 5px 7px 25px #090909;
}

.card-content {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10%;
    z-index: 2;
}

.card h1,
.card h2,
.card li,
.card button {
    margin: 5px 0;
}

.card h2 {
    font-family: "Droid", sans-serif;
    font-size: 2rem;
    line-height: 1;
    transform: scaleX(1.2);
    margin-left: 8%;
}

.card h1 {
    font-size: 6rem;
    margin-bottom: 10%;
}

.card li {
    margin-left: 15px;
}

.card button {
    margin-top: 10%;
    border-radius: 8px;
    border: 2px solid #090909;
    background: transparent;
    color: #090909;
    padding: 10px;
    cursor: pointer;
}

.card button:hover {
    border: 2px solid transparent;
    background: #090909;
    color: #efeed7;
}

.card-img {
    position: absolute;
    width: 100%;
    opacity: 0.75;
}
.costo{
    width: 100%;
    height: 15%;
    margin-top: 5%;
    text-align: center;
}
.costo h3{
    font-family: 'Times-Sans';
    font-size: 1.5rem;
    color: #efeed7;
}
/* POPUP PROGRAMMA */
.popup-programma {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    z-index: 20;
    /* più alto di overlay */
    display: none;
    /* inizialmente nascosto */
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    background: skyblue;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.popup-content h1,
.popup-content h3,
.popup-content h4,
.popup-content p {
    font-family: 'Times-Sans';
}

.popup-content h1 {
    font-size: 3rem;
    padding-bottom: 3%;
}

.popup-content p {
    font-size: 1.2rem;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.close-btn i {
    color: #fff;
    background-color: #00435e;
    border-radius: 50%;
    padding-left: 7px;
    padding-right: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.close-btn:hover i {
    color: #fff;
    background-color: #79000a;
}
























/* SERVIZI */
.servizi {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    background-color: rgb(2, 60, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servizi .container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.div-sx {
    width: 50%;
}

.div-dx {
    width: 50%;
    height: 100%;
}

.faq {
    background-color: transparent;
    color: #efeed7;
    padding: 20px;
    width: 100%;
}

.faq-title {
    border: 2px solid #efeed7;
    border-radius: 15px;
    background-color: #efeed7;
    padding: 10px 10px;
    margin: 10px;
    text-align: start;
}

.faq-title h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

.faq-item {
    border: 2px solid #efeed7;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 10px;
    justify-content: center;
    overflow: hidden;
    height: 50px;
    transition: height 0.3s ease;
    position: relative;
}

.faq-item .question {
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.faq-item .fontrid {
    font-size: 0.9rem;
}

.faq-item .fontupp {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.faq-item .answer {
    display: none;
}

.faq-item:hover .question {
    display: none;
}

.faq-item:hover {
    height: auto;
    /* Altezza automatica per mostrare la risposta */
}

.faq-item:hover .answer {
    display: block;
}
.faq-item h3, .faq-item i{
    color: #efeed7;
}
.servizi-container {
    padding: 30px;
    width: 100%;
    text-align: center;
}
.services {
    background-color: transparent;
    border: 2px solid #efeed7;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}
.services h3, .services li{
    color: #efeed7;
}
.services li{
    list-style-type: none; /* Rimuove i pallini dalla lista */
    padding: 0; 
    margin: 0;
}







/* ARRIVARE */
.arrivare {
    position: relative;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
}
#ping-section {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 400px; /* Puoi regolare la larghezza secondo necessità */
    height: 65%; /* Altezza della sezione di sinistra */
    background-color: rgba(255, 255, 255, 0.9); /* Colore di sfondo con opacità */
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombra per far risaltare la sezione */
    border-radius: 15px 15px 0 0; /* Bordo arrotondato solo in alto */
    overflow: hidden; /* Nasconde contenuti che escono dalla sezione */
    transition: transform 0.3s ease;
}
#ping-section.collapsed {
    transform: translateY(90%); /* Abbassa la sezione di sinistra */
}
#toggle-section {
    display: block;
    width: 100%;
    background-color: rgba(2, 60, 78, 1);
    color: #efeed7;
    border: none;
    text-align: center;
    padding: 5px 0;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}
#toggle-section i{
    margin-left: 2%;
}

#ping-list {
    padding: 10px;
    overflow-y: auto;
    height: calc(100% - 40px); /* Altezza disponibile meno lo spazio del pulsante */
}
.ping-list-container {
    width: 40%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 0;
    background-color: #efeed7;
    box-sizing: border-box;
    z-index: 1;
}
.ping-item {
    background-color: #efeed7; 
    color: #000; 
    border-radius: 8px; 
    padding: 10px 20px; 
    margin-bottom: 15px; 
    font-weight: bold;
    border: 2px solid rgba(2, 60, 78, 1);
    box-shadow: 3.5px 3.5px 0px rgba(2, 60, 78, 1); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ping-item.active {
    background-color: rgba(121, 0, 10, 1); 
    color: #efeed7;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); 
}

.ping-item:hover {
    transform: translateY(-2px); 
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4); 
}

.map-title{
    position: absolute;
    top: 20px;
    left: 0;
    width: 550px; 
    height: 28%; 
    background-color: #efeed7; 
    z-index: 5;
    border-radius: 0 15px 15px 0; 
    box-shadow: 6px 6px 0px rgba(2, 60, 78, 1);
    overflow: hidden; 
    display: flex;
    flex-direction: row;
}
.imagecontainer{
    width: 29%;
    height: 160px;
    border-radius: 10px;
    margin-left: 8%;
    margin-top: 2.5%;
    box-shadow: 4px 4px 0px rgba(2, 60, 78, 1);
}
.campitellomatese{
    width: 100%;
    border-radius: 10px;
}
.text-container{
    margin-left: 5%;
    width: 55%;
    height: 85%;
    margin-top: 3%;
}
.text-container h1, .text-container p{
    font-family: 'Times-Sans';
}
.text-container h1{
    font-size: 2.3rem;
    line-height: 0.9;
    color: rgba(2, 60, 78,1);
    margin-bottom: 5%;
}
.text-container p{
    color: rgba(2, 60, 78, 0.7);
    line-height: 0.7;
}
.button-indicazioni{
    width: 75%;
    padding: 7px;
    margin-top: 4%;
    background-color: transparent;
    color: rgba(2, 60, 78, 0.9);
    border: 2px solid rgba(2, 60, 78, 0.9);
    box-shadow: 4px 4px 0px rgba(2, 60, 78, 0.9);
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-indicazioni:hover {
    background-color: #79000a;
    color: #efeed7;
    transform: translateY(-2px); 
}
.button-indicazioni i{
    margin-left: 3%;
}
.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #efeed7;
    border-radius: 8px;
    box-shadow: 3.5px 3.5px 0px rgba(2, 60, 78, 0.9);
    color: rgb(2, 60, 78);
}

.marker i {
    font-size: 20px;
}
.marker:hover{
    background-color: #79000a;
    color: #efeed7;
    box-shadow: 3.5px 3.5px 0px rgba(2, 60, 78, 0.9);
}
.map-popup-content {
    width: 200px;
    display: flex;
    flex-direction: column;
}
.map-popup-title{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
.map-popup-title i{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 24px;
    color: #090909;
}
.map-popup-title h3 {
    font-family: 'Times-Sans';
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.map-popup-corpo{
    width: 100%;
    height: 75%;
}

.map-popup-content p {
    margin: 5px 0;
    font-weight: 400;
    margin-left: 5%;
    text-align: start;
}
.map-popup-content .btn-map-popup{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #efeed7; 
    color: #000; 
    border: 2px solid rgba(2, 60, 78, 1);
    box-shadow: 3.5px 3.5px 0px rgba(2, 60, 78, 1); 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.map-popup-content .btn-map-popup:hover {
    background-color: #79000a; 
    color: #efeed7; 
    border: none;
    transform: translateY(-2px); 
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4); 
}
.mapboxgl-popup-content {
    background-color: #efeed7 !important; 
    box-shadow: 3.5px 3.5px 0px rgba(2,60,78,0.9) !important; 
    border-radius: 5px !important; 
    padding: 10px !important; 
    color: #023c4e !important;
}
.mapboxgl-popup-tip {
    border-top-color: #efeed7 !important;
}
.mapboxgl-popup-close-button{
    right: 10px !important;
    top: 10px !important;
}

.map-control {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    background-color: #efeed7;
    color: rgba(2, 60, 78, 1);
    border-radius: 7px;
    box-shadow: 4px 4px 0px rgba(2, 60, 78, 0.8);
    padding: 15px;
    cursor: pointer;
}
.map-control i{
    font-size: 1.7rem;
}
.map-control:hover{
    background-color: rgba(2, 60, 78, 1);
    color: #efeed7;
    box-shadow: 4px 4px 0px rgba(2, 60, 78, 0.8);
}
.mapboxgl-ctrl-bottom-right {
    margin-right: 10px; 
    z-index: 10;
}
.mapboxgl-ctrl-bottom-left{
    display: none;
}

















/* CONTATTI */
.contatti {
    position: relative;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.contatti-container {
    position: relative;
    width: 36.5%;
    left: 13%;
    top: 25%;
    z-index: 1;
}

.contatti-container h1 {
    font-family: 'Times-Sans';
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    color: #efeed7;
}

.contatti-container h4 {
    font-family: 'Times-Sans';
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    transform: scaleX(1.2);
    margin-left: 9.5%;
    color: #efeed7;
}

.notturno-contatti {
    position: absolute;
    /*max-width: fit-content;*/
    width: 100%;
    top: -5%;
    z-index: 0;
}

.button-contatto {
    width: 100%;
    padding: 10px;
    margin-top: 10%;
    background-color: transparent;
    color: #efeed7;
    border: 2px solid #efeed7;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-contatto:hover {
    background-color: #efeed7;
    color: #0d0b09;
}








/* SPONSOR */
.sponsor {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.div-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: start;
}

.div-right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-right: 50px;
}

.logo-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 50px;
}

.logo-item {
    margin: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: scale(0.5) translateY(50px);
}

.logo-item img {
    transition: transform 0.3s ease;
}

.logo-item:hover img {
    transform: scale(2.5);
}

.logo-item.in-view {
    opacity: 1;
    transform: scale(1) translateY(0);
}

/* Dimensioni fisse loghi */
.logo-item img {
    width: 70px;
}

.sponsor .testo {
    width: 75%;
    text-align: start;
}

.sponsor .testo h1 {
    font-family: 'Times-Sans';
    font-size: 3.9em;
    font-weight: 600;
}

.sponsor .corpo {
    width: 100%;
    border-top: 2px solid #0d0b09;
    padding-top: 4%;
}

.sponsor .testo h4 {
    font-size: 0.85rem;
    font-weight: 400;
}

.button-sponsor {
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    background-color: transparent;
    color: #0d0b09;
    border: 2px solid #0d0b09;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-sponsor:hover {
    background-color: #0d0b09;
    color: #f0f0f0;
}



@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .div-left,
    .div-right,
    .div-middle {
        width: 100%;
    }

    .logo-item img {
        width: 60px;
    }

}